<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wafer fault detection</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<form action="/predict" method="post" enctype="multipart/form-data">
    <h1 class="title">Upload CSV for the prediction</h1>

<div class="frame">
    <div class="center">

        <div class="title">
            <h1>Drop file to Upload</h1>
        </div>

        <div class="dropzone">
            <img src="http://100dayscss.com/codeopen/Upload.svg" class="Upload-icon"/>
            <input type="file" class="Upload-input" name="file" accept=".csv">
        </div>

        <button type="submit" class="btn" name="uploadbutton">upload file</button>

    </div>
</div>

</form>

</body>
</html>